# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore compiled class files
*.class

# Ignore the 'out' directory where compiled classes are stored
out/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log